* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ebed;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;
}

li {
  list-style-type: none;
}

#barra {
  background-color: #3b5998;
  height: 45px;
}

#main {
width: 850px;
height: 920px;
margin: 0 auto;
}

#cap {
  background-image: url("../img/banner.jpg");
  height: 355px;
  box-shadow:  0 1px 3px rgba(0,0,0,0.12);
}

#content {
  margin-top: 15px;
  height: 100%;
  width: 100%;
}

#pic {
  float: left;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  position: relative;
  margin-top: 170px;
  margin-left: 15px;
}

h2 {
position: absolute;
margin-top: 300px;
margin-left: 230px;
color: white;
font-weight: normal;
text-shadow: 7px 7px 7px #333;
}

h4 {
  position: absolute;
  margin-top: 330px;
  margin-left: 230px;
  color: white;
  font-weight: lighter;
}

.nav-bar {
  background-color: white;
  overflow: hidden;
  border-style: solid;
  border-width: 0 3px 0 3px;
  border-color: #f8f8f9;
}

.nav-list {
  font-weight: bold;
  float: right;
  display: block;
  color: #3b5998;
  text-align: center;
  padding: 15px;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #f8f8f9;
  list-style-type: none;
}

.no-post {
  width: 300px;
}

.post {
  float: right;
  width: 516px;
  height: 170px;
  clear: right;
}

.no-post , .post {
  overflow: hidden;
  box-shadow:  0 1px 3px rgba(0,0,0,0.12);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 11px;
  font-size: 12px;
}

#biografia, #amics, #fotos , #sorpresa {
  padding: 12px;
}

#biografia li {
  float: left;
  margin: 0 0 0 1px;
  padding: 0 20px;
  display: block;
  line-height: 43px;
}

#content h3 {
  line-height: 24px;
  text-indent: 30px;
  background-position: 0 -24px;
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
}

#amics h3 {
  background-position: 0 -48px;
}

#biografia h3 {
  background-position: 0 0;
}

#biografia h3 {
  background-position: 0 0;
}

#sorpresa h3 {
  background-position: 0 -72px;
}

#biografia p {
  padding: 0 0 10px 0;
  border-bottom: solid 1px #DDD;
}

p {
  text-align: justify;
}

#biografia .estudis {
  list-style-image: url(img/icones_estudis.png);
}

#amics li {
  float: left;
  width: 32.5%;
  height: 100px;
  margin: 1px;
  background-position: center;
  position: relative;

}

#amics ul {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#SF {
  background-image: url('https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png');
}

#PM {
  background-image: url('https://mpanchame2019crn.github.io/M08//Facebook/img/perfil.png');
}

#PS {
  background-image: url('https://psanz2019crn.github.io/M08/s2m8uf104_sanz/img/aoperfil.gif');
  background-size: cover;
}

#MC {
  background-image: url('https://mcodispoto2019crn.github.io/M08/facebook/img/snow2.jpg');
  background-size: cover;
}

#SM {
  background-image: url('https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg');
}

#VH {
  background-image: url('https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png');
    background-size: cover;
}

#NC {
  background-image: url('https://nchia2019crn.github.io/M08/s2m8uf104_chia/img/perfil.jpg');
    background-size: cover;
}

#AD {
  background-image: url('https://adositey2019crn.github.io/M08/UF1/s2m8uf104_facebook/img/photo.png');

}

#GB {
  background-image: url('https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/pajaro.jpg');
    background-size: cover;

}

#amics a {
  color:white;
  text-decoration: none;
  position: absolute;
  bottom: 3px;
}

#first ul {
  padding: 5px 0 7px 7px;
  background-color: #F3F3F3;
  background-size: cover;
  overflow: auto;
  border-bottom: 1px solid #e7e8eb;
}

#first li {
  font-weight: bold;
  float: left;
  display: inline;
  color: #3b5998;
  text-align: center;
  padding: 5px;
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: #e7e8eb;
  list-style-type: none;
}

#first li img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.lil {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 3%;
  margin-left: 15px;
}

input[type=text] {
  resize: none;
  border: none;
  color: grey;
  margin-left: 15px;
  margin-top: 25px;
  overflow: hidden;
  width: 50%;
  font-size: 1.1em;
}

input:focus{
    outline: none;
}

#buttons {
  color: #333;
  padding: 0;
  border-top: 1px solid #e7e8eb;
  margin-top: 5px;
  margin-left: 15px;
  text-decoration: none;
  height: 50px;
  width: 95%;
  float: left;
}

button {
  margin-top: 5px;
  border-radius: 25px;
  padding: 6px;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 5px;
  height: 30px;
  background-color: #f4f5f7;
  width: 120px;

}

button img{
  margin-right: 10px;
  vertical-align: middle;
  padding: 0;
  width: 20px;
  height: 20px;

}

#button-dots {
  width: auto;
}

#enter {
  height: 240px;
  overflow: visible;
}

#enter h4{
  margin-top: 20px;
  margin-left: 65px;
  color: #3b5998;
  font-weight: bold;
}

#enter h5 {
  margin-top: 40px;
  margin-left: 65px;
  font-weight: lighter;
}

#enter h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: lighter;
}

#enter p {
  margin-top: 20px;
  margin-left: 15px;
}

#enter ul {
  margin-top: 15px;
  border-top: 1px solid #e7e8eb;
  width: 100%;
  overflow: hidden;
}

#enter li {
  margin-top: 15px;
  margin-left: 50px;
  display: list-item;
  list-style-image: url();
  float: left;
}

#enter input {
  clear: left;
  margin: 0;
  padding: 10px;
  border-radius: 25px;
  background-color: #f2f3f4;
  border: solid #eaeaed 1px;
  line-height: 1.5em;
  margin-left: 8px;
  width: 425px;
  float: right;
  position: absolute;
}


.like {
  width: 16px;
  height: 16px;
  margin-left: 20px;

}

.comment-img {
  width: 30px;
  border-radius: 100%;
  margin-top: 1%;
  margin-left: 15px;}
